imagefilters.js
imagefilters.wasm
.emscripten_cache/
.emscripten_ports/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.log
node_modules/
__pycache__/
*.pyc
desktop.ini
$RECYCLE.BIN/
*.bak
*.backup
*~